.foodlist-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(235, 235, 235);
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

.category-card:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 12px rgb(253, 143, 123);
   
}

.category-card.selected {
    box-shadow: 0 0 6px 12px rgb(253, 143, 123);
    border: 2px solid rgb(253, 143, 123);
}

.image-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-image {
    width: 70%;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.category-text {
    font-size: 15px;
    color: rgb(122, 116, 116);
    font-weight: bold;

}

.food-container {
    display: grid;
    /* adjusting for mobile screens */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem; 
    width: 100%;
    justify-items: center; 
    align-items: center;
}

/* max. of 4 items per row */
@media (min-width: 900px) {
    .food-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* laptop size */
@media (max-width: 1440px) {
    .food-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem
    }
}

.food-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 320px;
    padding: 15px;
    margin: 0 30px;
    position: relative;
    margin-top: 10px;
}

.food-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.food-card-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fa-heart {
    color: tomato;
}

.food-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.food-card-text {
    font-size: 20px;
    color: rgb(103, 99, 99);

}

.food-card-footer h3,
.food-card-footer p {
    margin: 0;
    padding: 0;
}

.food-card-price {
    font-weight: bold;
    color: #ff6347;
}