.foodDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 3rem;
    background-color: rgb(235, 235, 235);
    min-height: 600px;
}

.foodDetailsImageContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.foodDetailsImage {
    height: 500px;
    width: 700px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 1440px) {
    .foodDetailsImage {
        height: 400px;
        width: 500px;
    }
}

.foodDetailsMiddleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1300px;
    padding: 1rem;
    height: 100%;
}

.foodDetailsMiddleContainer p {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(104, 99, 99);
    font-weight: bold;
}

.foodDetailsMiddleContainer h3 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.foodDetailsMiddleContainer p,
h3 {
    text-align: justify;
}

.foodDetailsThirdContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    padding: 1rem;
}

.foodDetailsThirdContainer p {
    text-align: justify;
    font-size: 18px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(104, 99, 99);
    font-weight: bold;
}

.foodDetailsThirdContainer h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.foodDetailsThirdContainerButtons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 10px;
}

.foodDetailsThirdContainerButtons button:first-child {
    background-color: #459dcc;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 65px;
}

.foodDetailsThirdContainerButtons button:first-child:hover {
    background-color: deepskyblue;
}

.foodDetailsThirdContainerButtons button:nth-child(2) {
    background-color: red;
    padding: 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 65px;
}

.foodDetailsThirdContainerButtons button:nth-child(2):hover {
    background-color: #fd8d8d;
}

button:focus,
button:active {
    outline: none;
}

.disabledButton {
    opacity: 0.3;
}

.disabledButton:hover {
    cursor: default;
    opacity: 0.3;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.text {
    font-size: 16px;
    color: rgb(104, 99, 99);
}

.textarea:focus,
.input:focus {
    outline: none;
    box-shadow: 0 0 5px tomato;
}

.textarea:first-of-type {
    height: 200px;
}

@media (max-width: 1440px) {
    .textarea:first-of-type {
        height: 400px;
    }
}