.food-details-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 3rem;
    background-color: rgb(235, 235, 235);
min-height: 600px;
}

.food-details-image-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.food-details-image {
    height: 500px;
    width: 700px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 1440px) {
    .food-details-image {
        height: 400px;
        width: 500px; 
    }
}

.food-details-middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px; 
    padding: 1rem; 
    height: 100%;
    
}

.food-details-middle-container p {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(104, 99, 99);
    font-weight: bold;
    
}

.food-details-middle-container h3 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.food-details-middle-container p, h3 {
    text-align: justify;
}

.food-details-third-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    padding: 1rem; 
}

.food-details-third-container p {
    text-align: justify;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(104, 99, 99);
    font-weight: bold;
}

.food-details-third-container h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.food-details-third-container-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.food-details-third-container-buttons button:first-child {
    background-color: #459dcc;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 65px;
}

.food-details-third-container-buttons button:first-child:hover {
    background-color: deepskyblue;
}

.food-details-third-container-buttons button:nth-child(2) {
    background-color: red;
    padding: 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 65px;
}

.food-details-third-container-buttons button:nth-child(2):hover {
    background-color: #fd8d8d;
}


button:focus, button:active {
    outline: none;
}