.register-form-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 30%;
}

.form-group {
    width: 100%;
    padding: 5px;
}

.inputTitle {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.form-control {
    border-radius: 20px;
    background-color: #e9effc;
    padding: 13px;
    font-size: 16px;
}

.register_btn {
    background-color: tomato;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
}

.register-footer-container {
    display: flex;
    flex-direction: column;
}

.signInButton_register {
    color: rgb(73, 69, 69);
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    margin: 0 auto;
}