.signin-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.signin-form {
    width: 30%;
}

.inputTitle {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.form-control {
    border-radius: 20px;
    background-color: #e9effc;
    padding: 13px;
    font-size: 16px;
}

.signin_btn {
    background-color: tomato;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 70%;
}

.signin_btn:hover {
    color: rgb(203, 192, 192)
}

.signin-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.registerLink_signin {
    font-size: 14px;
    color: rgb(73, 69, 69);
    text-decoration: underline;
    font-size: 13px;
}

.registerLink_signin:hover {
    color: blue;
}