.featuredRecipesContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.textContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.textContainer p,
.textContainer .stylesLink {
    margin: 0;
    /* Reset margin */
    padding: 0;
    /* Reset padding */
}

.smallText {
    font-size: 20px;
    font-weight: bold;
}

.stylesLink {
    color: tomato;

}

.stylesLink:hover{
    text-decoration: none;
    color: rgb(253, 161, 144)
}

.foodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.foodContainer a {
    text-decoration: none;
}

.foodCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    width: 300px;
    height: 320px;
    padding: 25px;
    margin: 0 30px;
    position: relative;
    
}

.foodCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #f8f9fa;
}

.foodCardHeader {
    position: absolute;
    top: 10px;
    right: 10px;
}

.faHeart {
    color: tomato;
}

.foodCardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.foodCardText {
    font-size: 20px;
    color: rgb(103, 99, 99);
}

.foodCardFooter h3,
.foodCardFooter p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.foodCardPrice {
    font-weight: bold;
    color: #ff6347;
}

.foodImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-color: white;

}

.restaurantContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.restaurantCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    width: 300px;
    height: 320px;
    padding: 25px;
    margin: 0 30px;
    position: relative;
    
}

.restaurantCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.restaurant-card-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.restaurantCardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.restaurantCardText {
    font-size: 20px;
    color: rgb(103, 99, 99);

}

.restaurantCardFooter h3,
.restaurantCardFooter p {
    margin: 0;
    padding: 0;
}

.restaurantCardAddress {
    font-weight: bold;
    color: #ff6347;
}


.restaurantImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-color: white;

}

.pictureTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 570px; 
    background-image: url('/Users/aldintalic/restaurant_task/app/public/images/background4.jpg');
    background-size: cover;
    padding: 2rem;
    
}

.pictureTextContainerButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin-left: 50px;
}

.pictureTextContainerButtonsText {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pictureTextContainerButtonsSmallText{
    color: rgb(167, 159, 159);
    font-weight: bold;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pictureTextContainerLoginButton {
    color: white;
    font-weight: bold;
    font-size: 24px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    border-color: white;
    background-color: tomato;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.pictureTextContainerRegisterButton {
    color: tomato;
    font-weight: bold;
    font-size: 24px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    border-color: white;
    background-color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 400px; 
}