.featured-recipes-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.text-container p,
.text-container .styles-link {
    margin: 0;
    /* Reset margin */
    padding: 0;
    /* Reset padding */
}

.smallText {
    font-size: 20px;
    font-weight: bold;
}

.styles-link {
    color: tomato;

}

.food-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.food-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    width: 300px;
    height: 320px;
    padding: 25px;
    margin: 0 30px;
    position: relative;
    
}

.food-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.food-card-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fa-heart {
    color: tomato;
}

.food-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.food-card-text {
    font-size: 20px;
    color: rgb(103, 99, 99);

}

.food-card-footer h3,
.food-card-footer p {
    margin: 0;
    padding: 0;
}

.food-card-price {
    font-weight: bold;
    color: #ff6347;
}

.food-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-color: white;

}

.restaurant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    width: 300px;
    height: 320px;
    padding: 25px;
    margin: 0 30px;
    position: relative;
    
}

.restaurant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.restaurant-card-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.restaurant-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.restaurant-card-text {
    font-size: 20px;
    color: rgb(103, 99, 99);

}

.restaurant-card-footer h3,
.restaurant-card-footer p {
    margin: 0;
    padding: 0;
}

.restaurant-card-address {
    font-weight: bold;
    color: #ff6347;
}


.restaurant-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-color: white;

}

.picture-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 570px; 
    background-image: url('/Users/aldintalic/restaurant_task/app/public/images/background4.jpg');
    background-size: cover;
    padding: 2rem;
    
}

.picture-text-container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin-left: 50px;
}

.picture-text-container-buttons-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.picture-text-container-buttons-smallText {
    color: rgb(167, 159, 159);
    font-weight: bold;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.picture-text-container-login-button {
    color: white;
    font-weight: bold;
    font-size: 24px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    border-color: white;
    background-color: tomato;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.picture-text-container-register-button {
    color: tomato;
    font-weight: bold;
    font-size: 24px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    border-color: white;
    background-color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 400px; 
}