.headerContainer {
    display: flex;
    width: 100%;
    background-color: tomato;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
.linksContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.links {
    margin: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.links:hover {
    text-decoration: none; 
    color: rgb(222, 210, 210);
}

.signInContainer {
    display: flex;
    padding: 5px;
    gap: 1.3rem;
}

.signInLink {
    font-size: 20px;
    background-color: white;
    padding: 7px;
    color: tomato;
    font-weight: bold;
}
.signInLink:hover {
    background-color: rgb(239, 230, 230);
    color: tomato;
    text-decoration: none; 
}

.signOutLink {
    font-size: 15px;
    background-color: white;
    padding: 5px;
    color: tomato;
    font-weight: bold;
    border: none;
}

.signOutLink:hover {
    background-color: rgb(239, 230, 230);
    color: tomato;
    text-decoration: none; 
}

.signOutLink:focus,
.signOutLink:active {
    outline: none; 
}

.profileButton {
    cursor: pointer;
}

.popover {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    padding: 10px;
}

.popoverLink {
    display: block;
    padding: 10px;
    color: tomato;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.popoverLink:hover {
    background-color: rgb(239, 230, 230);
    text-decoration: none; 
}